.overlay{
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    bottom: 0%;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #FFFFFF;
    height: 280px;
    width: 520px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    box-shadow: 0px 8px 17px 4px rgba(0,0,0,0.25);
    font-family: Poppins;
}

header {
    color: #78A1B6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.headerLeft{
    background-color: rgb(55, 0, 255);
    display: flex;
    flex-direction: row;
}

.headerRight{
    background-color: chartreuse;
}

.tweetImg {
    border-radius: 50px;
    margin-left: 16px;
    margin-top: 16px;
    margin-right: 10px;
}

p{
    font-size: 18px;
    font-weight: 500;
    margin-top: 22px;
}

.closeIcon{
    margin-top:10px;
    background-color: white;
    border:none;
}

.tweetText{
    border-color: rgba(0,0,0,0.25);
    width: 490px;
    height: 93px;
    font-size: 15px;
    font-family: Poppins;
    font: #696969;
    display: flex;
    margin: auto;
}

.comboBox-footer{
    display: flex;
    flex-direction: row;
    height: 64px;
    border-top: solid 2px #DAEAF2;
    justify-content: space-between;
}

.tweetIcons {
    color:greenyellow;
    font-size: 20px;
    margin-top: 20px;
}

.pictureIcon{
    margin:0px 10px 0px 20px;
}

.emojiIcon{
    margin:0px 10px;
}

.postingButton{
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
}
.posting{
    background-color:#0BC1FB ;
    color: #FFFFFF ;
    font-family: Poppins;
    border:none;
    width: 97px;
    height: 36px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    font-weight: 600px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    
    .container{
        width: 100%;
        height: 208px;
    }

    .tweetImg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 12px;
    }

    p{
        font-size: 12px;
        font-weight: 500;
        margin-top: 20px;
    }

    .tweetText{
        width: 90%;
        height: 51px;
        font-size: 12px;
    }

    .comboBox-footer{
        height: 60px;
    }
}


